.Header {
    & .line {
        background-color: #cc0000;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        .brand {
            display: flex;
            align-items: center;
            .logo {
                width: 3.5rem;
                height: auto;
                margin-right: 1rem;
            }
            .title {
                font-size: 1.5rem;
            }
        }
        a {
            color: rgb(255, 255, 255);
            &:hover, &:active, &:focus {
                color: white;
            }
        }
        .navlinks-wrapper {
            cursor: pointer;
            
            .navlink {
                position: relative;
                font-size: 1.2rem;
                padding: 0.7rem 1.2rem;
                border-radius: 1px;
                transition: all 0.2s;
                letter-spacing: 2px;
                &:hover {
                    text-decoration: none !important;
                    background-color: $oc-gray-9 !important;
                }
                @include media('xs') {
                    padding: 1rem 0.5rem;
                    font-size: 1rem;
                    letter-spacing: 1px;
                }

                &--login {
                    margin-right: 3rem;
                    @include media('xs') {
                        margin-right: 1.5rem;
                    }
                    &::after {
                        position: absolute;
                        right: -1.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                        content: "\00a0";
                        width: 1px;
                        height: 50%;
                        background-color: white;
                        @include media('xs') {
                            right: -0.75rem;
                            height: 30%;
                        }
                    }
                }
            }
        }
    }
}